@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    scroll-behavior: smooth;
    scrollbar-width: none;
    font-family: "Varela", sans-serif;
    transition: all 0.3s ease;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Standard */
}

* a {
    text-decoration: none;
    color: #fff;
}



body {
    background-color: #222831;
    width: 100%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #393e46;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    background-color: transparent;
    background-blend-mode: darken;
    backdrop-filter: blur(10px);
}

.nav .left {
    height: auto;
    width: 200px;
    display: flex;
    justify-content: center;
}

.nav .left h1 {
    font-size: 1.5rem;
    color: #00adb5;
    font-weight: 900;
    margin-left: 10px;
}

.nav .left h1 svg {
    vertical-align: middle;
    width: 30px;
    margin: 0;
    vertical-align: -6px;
}

.nav .left img {
    height: 70px;
    width: auto;
}

.nav .right {
    height: auto;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav .right a {
    width: 100px;
    text-align: center;
    transition: all 0.3s ease;
    border-radius: 10px;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav .right a:hover {
    color: #ffffff9d;
    border-radius: 10px;
    transition: all 0.3s ease;
}

@media (max-width: 590px) {
    .nav .right .active {
        display: none;
    }

    .nav .right {
        height: auto;
        width: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 5vw;
    }

}

@media (max-width: 400px) {

    .nav .left {
        height: auto;
        width: 150px;
        display: flex;
        justify-content: center;
    }

    .nav .left img {
        height: 60px;
        width: auto;
    }

    .nav .right {
        display: none;
    }

}

.firstpage {
    width: 100%;
    height: 100vh;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.firstpage .left {
    margin-left: 5vw;
}

.firstpage .left b {
    color: #00adb5;
}

.firstpage .left h1 {
    width: 100%;
    font-size: max(30px,2.5vw);
    color: rgba(255, 255, 255, 0.747);
    text-align: center;
}

.firstpage .left div {
    margin: 30px 0px;
}

.firstpage .left p {
    color: rgba(255, 255, 255, 0.747);
    font-size: max(0.9vw, 15px);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.8;
}

.firstpage .left div ul {
    list-style: none;
}

.firstpage .left div ul li {
    position: relative;
    font-size: max(0.9vw, 15px);
    color: rgba(255, 255, 255, 0.747);
    padding-left: 30px;
}

.firstpage .left div ul li::before {
    content: "✨";
    position: absolute;
    left: 0;
    top: 0;
    color: #00adb5;
    font-size: max(0.9vw, 15px);
}

.firstpage .right {
    margin-right: 5vw;
    width: auto;
    height: auto;
    shape-outside: circle(50%);
}

.firstpage .right img{
    width: 25vw;
    min-width: 300px;
    border-radius: 50%;
    shape-outside: circle(50%);
}

@media (max-width: 900px){

    .firstpage {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
        height: 100vh;
        min-height: 1100px;
    }

    .firstpage .left{
        margin-left: 0;
        width: 80vw;
    }

    .firstpage .left h1{
        font-size: min(30px,8vw)
    }

    .firstpage .right{
        margin-right: 0;
    }

}

.secondpage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thirdpage{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondpage h1  {
    width: 100%;
    font-size: max(30px,2.3vw);
    color: rgba(255, 255, 255, 0.747);
    text-align: center;
}

.thirdpage h1{
    width: 100%;
    font-size: max(30px,2.3vw);
    color: rgba(255, 255, 255, 0.747);
    text-align: center;
}

.secondpage h1 b{
    color: #00adb5;
}

.thirdpage h1 b{
    color: #00adb5;
}

.secondpage .skills {

    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 80%;
    justify-content: center;
    row-gap: 50px;
    column-gap: 10vw;
    margin-top: 50px;
    margin-bottom: 50px;

}

.thirdpage .tools{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 80%;
    justify-content: center;
    row-gap: 50px;
    column-gap: 10vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.secondpage .skills .box {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    align-items: center;
    border: #00adb5 3px solid;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 0px #00acb567;

}

.thirdpage .tools .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 150px;
    align-items: center;
    border: #00adb5 3px solid;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 0px #00acb567;
}

.secondpage .skills .box:hover {

    box-shadow: 1px 1px 15px 0px #00adb5;

}

.thirdpage .tools .box:hover{
    box-shadow: 1px 1px 15px 0px #00adb5;
}

.secondpage .skills .box svg  {
    height: 65px;
}

.thirdpage .tools .box svg{
    height: 65px;
}

@media(max-width:730px){

    .secondpage .skills .box {
        width: 200px;
    }

    .thirdpage .tools .box{
        width: 200px;
    }

}



/* footer css  */

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: auto;
    align-items: center;
    gap: 0px;
    /* border-top: 1px solid #393e46; */
    background-color: #0000002d;
    backdrop-filter: blur(10px);
}

.footer p {
    color: rgba(255, 255, 255, 0.747);
    font-size: max(0.5vw, 17px);
    text-align: center;
}

.footer b {
    color: #00adb5;
    font-weight: bolder;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: auto;
    gap: auto;
    min-width: auto;
}

.footer .left {
    margin-left: 5vw;
    height: 90px;

}

.footer .middle {
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .middle a {
    cursor: default;
}

.footer .right {
    margin-right: 5vw;
}

.footer .social {
    gap: 2vw;
    height: 90px;
}

.footer .social img {
    width: 35px;
    border-radius: 50%;
    height: auto;
    border: none;
    border-radius: 50%;
    background-color: #00000000;
}

.footer .social img:hover {
    scale: 1.1;
}

.footer .social img:active {
    scale: 0.9;
}

@media (max-width: 1050px) {
    .footer {
        flex-direction: column;
    }

    .footer p {
        font-size: larger;
    }

    .footer .left {
        margin-left: 0vw;
    }

    .footer .right {
        margin-right: 0vw;
    }

    .footer .right .social {
        margin-right: 0vw;
        justify-content: space-around;
    }

    .footer .right .social img {
        width: 40px;
        background-color: #00000000;
        border: none;
    }

}

@media (max-width: 590px) {

    .footer b {
        color: #00adb5;
    }

}


@media (max-width: 400px) {

    .footer p {
        font-size: max(1vw, 13px);
    }

    .footer .left {
        margin-left: 0vw;
        height: auto;
        margin-top: 20px;
    }

    .footer .middle {
        height: auto;
    }

    .footer .right {
        margin-right: 0vw;
        height: auto;
        margin-bottom: 20px;
    }

    .footer .social {
        margin-top: 15px;
        height: auto;
        gap: 10px;
        width: 100px;
    }

    .footer .right .social img {
        width: 30px;
        height: auto;
    }

}



/* style for alert popup */

#popup {
    opacity: 0;
    display: block;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: #00acb575;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-family: "Varela", sans-serif;
    box-shadow:
        0 0 10px #00acb575,
        inset 0 0 10px #00acb575;
    z-index: 9999;
    backdrop-filter: blur(6.9px);
    transition: opacity 0.7s ease-in-out;
    pointer-events: none;
    text-align: center;
    font-weight: 550;
}

#popup.show {
    opacity: 1;
}